@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* colors */
:root{
  --primary-green: #4AAB28;
  --secondary-green: rgba(113, 182, 25, 0.28);;
  --background-color: #E4F0D4;
  --font-sm: 14px;
  --font-md: 20px;
  --font-lg: 24px;
  --regular: 400;
  --medium: 500;
  --bold: 700;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

button.btn.btn-success {
  background: var(--primary-green);
  border: none;
}

.title{
  color: var(--primary-green);
  font-weight: 700;
  font-size: 5rem;
  margin: 4rem 0;
  text-align: center;  
}

.banner-image {
  background-color: var(--secondary-green);
  border-radius: 20rem;
  padding: 1rem;
  width: 100%;
}
